* {margin: 0px; padding: 0px;
font-family:"Roboto", sans-serif;
}
*,
*::before,
*::after {
box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);
    display: flex; justify-content: space-around; align-items: center;
padding: 10px 0px;}

.topnav a {padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

.topnav a:hover {
    color: white
}


.topnav .icon {
    display: none;
}

.line {color: white; background-color: white;
width: 20px; height: 3px; padding: 2px;}

.nav-button {font-size: 13px;
border: 1px solid white;
border-radius: 3px;
padding: 15px 40px;
color: white;
background-color:  #62ddff;
transition: 0.7s;}
.nav-button:hover {background-color: white;
color: black;}

@media screen and (max-width: 992px) {
    .topnav a:not(:first-child) {display: none;
    background-color: black;}
    .nav-button {display: none;}
    .mini {display: none;}
    .topnav a.icon {display: flex; flex-direction: column;
    }
    .topnav {background-color: black;
        background-image: none;}
    
        .topnav.responsive {display: flex; justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
        .icon-div {display: flex; align-self: flex-end;
        margin-left: 700px;}
        .topnav.responsive a {display: flex;
        border-bottom: 1px solid gray;}
        .informative-picture {display: none;}
        .informative-diva {display: none;}

}


.section1 {background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);}  
.informative-div{
    display: flex;
    justify-content: center;
    }
    .desktop-padding-top {
    padding-top: 0;
    }
    
    @media (min-width: 992px) {
    .desktop-padding-top {
    padding-top: 100px;
        }
    }
    
    .informative-picture {
    width: 100%;
    border-radius: 10px;
    }
    .informative-title {color: white;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    font-size: 48px;}
    .informative-paragraph {color: white;
    font-size: 14px;
    margin-top: 30px;}
    .button-div {text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        margin-top: 50px;}
    .Informative-button1 {text-decoration: none;
        color: white;
        padding: 18px 30px;
    border: 1px solid white;
    margin-right: 10px;
    transition: 0.7s;
}
.Informative-button1:hover {background-color: white;
color: black;}
.Informative-button2 {text-decoration: none;
background-color: white;
color: black;
padding: 18px 35px;
border: 1px solid white;
transition: 0.7s;
margin-left: 10px;}
.Informative-button2:hover {background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);
color: white;}
.section2 {padding:120px 0px;
background-color: white;
}
.informative-text-title {font-family: "Heebo", sans-serif;
font-size: 36px;
color: #222222;
font-weight: bold;
margin-bottom: 15px;}
.informative-text-paragraph {font-size: 14px;
color: gray;}
.title-card {font-family: "Heebo", sans-serif;
font-size: 20px;
color: #222222;
font-weight: bold;
margin-bottom: 20px;}
.paragraph-card {font-size: 14px;
color: gray;}
.monitor-png {height: 80px;
background-color: rgb(238, 238, 238);
border: 1px solid rgb(219, 219, 219);
padding: 25px 25px;
border-radius: 5px;
margin-bottom: 30px;}
.title-card:hover{color: #5aa7fa;}
.monitor-png:hover {background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);
color: white;}
.html-png {height: 80px;
background-color: rgb(238, 238, 238);
border: 1px solid rgb(219, 219, 219);
padding: 25px 25px;
border-radius: 5px;
margin-bottom: 30px;}
.html-png:hover {background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);
color: white;}
.alarm-clock-png {height: 80px;
background-color: rgb(238, 238, 238);
border: 1px solid rgb(219, 219, 219);
padding: 25px 25px;
border-radius: 5px;
margin-bottom: 30px;}
.alarm-clock-png:hover {background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);
color: white;}
@media (min-width: 575px) {
.section1 {min-height: 450px;
}
.informative-div {padding: 10px 0px 30px 0px;
min-height: 450px;
}
.section2 {padding: 30px 0px;
min-height: 450px;
}
.section3 {padding: 30px 0px;
min-height: 450px;
}
.section4 {padding: 30px 0px;
min-height: 450px;}
}
.section3 {padding: 0px 0px;
background-color: #edf6ff;}
.activity-line-list {list-style: none;
}
.activity-line-list-div a, li {text-decoration: none;
color: white;
background-image: -webkit-linear-gradient(3deg, #4dabff 0%, #62ddff 100%);
padding: 15px 30px;
margin: 10px -15px;
border: none;
border-radius: 5px;
font-family: "Roboto", sans-serif;
font-size: 13px;
font-weight: bold;
}
#special {padding: 10px 50px;
}
#special:hover {color: white;
}
.activity-line-title {
    color: #222222;
    font-size: 36px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.activity-line-text {color: #222222;
    font-size: 16px;
    font-weight: bold;}
.activity-line-paragraph {color: gray;
font-size: 14px;}
.activity-line-button {background-image: linear-gradient(to right, #4dabff 0%, #62ddff 48%, #4dabff 100%);
color: white;
text-decoration: none;
font-size: 13px;
font-weight: bold;
padding: 15px 30px;
margin-top: 35px;
border: none;
border-radius: 5px;
}
.activity-line-button-div {margin-top: 35px;
}
.activity-line-button:hover {color: white;}
.activity-line-picture {
    width: 100%;
    border-radius: 10px;
    }
.activity-line-div{
display: flex;
justify-content: center;
align-items: center;}
.explanation-title {font-family: "Heebo", sans-serif;
font-size: 36px;
color: #222222;
font-weight: bold;
margin-bottom: 15px;}
.section4 {background-color: white;
padding: 120px 0px;}
.explanation-paragraph {color: gray;
font-size: 14px;}
.explanation-image {width: 90%;
border-radius: 10px;
}
.section5 {background-color: #edf6ff;
}
